[Unit]
Description=Run daily Iran IPv4 update at 03:00 UTC

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=daily-iran-update.service

[Install]
WantedBy=timers.target
