[Unit]
Description=Run daily Spamhaus IPv4 update at 03:00 UTC

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=daily-spamhaus-update.service

[Install]
WantedBy=timers.target
