[Unit]
Description=Run daily main MikroTik address-list script update at 03:30 UTC

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true
Unit=daily-main-address-list-update.service

[Install]
WantedBy=timers.target
